// Colors 
$white: #FFFFFF;
$gray: #6b7175;
$green: #50c7ba;
$purple: #914691;

// Font weights
$regular: 400;
$bold: 600;


// Base Font
$base-font-family: 'Brandon Text Regular', sans-serif;
$base-font-weight: $regular;
$base-font-size: 15px;
$base-line-height: 1.6;

//Fixed Font
$bold:  'Brandon Text Bold';