footer {
    background-color: $green;
    color: $white;
    padding: 30px 0;
    
    .logo{
        margin-bottom: 15px;
        display: block;
        
        @include respond-to("medium"){
             margin-bottom: 0;
        }
    }
    
    a{
        color: white;
    }
    
    .heading{
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 2.2px;
        text-transform: uppercase;
        line-height: 3.8;
    }
    
    .navigate{
        margin: 0;
        padding: 0;
        list-style: none;
        
        li{
            margin-bottom: 3px;
            
            a{
                display: block;
                opacity: 0.8;
                font-size: 13px;
                font-weight: bold;
                line-height: 2.23;
                letter-spacing: 0.3px;
                
                &:hover{
                    opacity: 1;
                    color: $white;
                }
            }
        }
    }
    
    .contact{
        p{
            font-size: 13px;
            line-height: 1.5;
            letter-spacing: 0.5px;
            padding-left: 50px;
            padding-bottom: 15px;
            font-weight: bold;
            
            @include respond-to("medium"){
                padding-bottom: 25px;
            }
            
            &.dir{
                background: url(img/location-icon.png) top left no-repeat;
            }
            
             &.mail{
                background: url(img/tel-icon.png) top left no-repeat;
                 
                 a{
                    display: block;
                    padding-top: 6px; 
                 }
            }
            
             &.tel{
                background: url(img/email-icon.png) top left no-repeat;
                 
                 a{
                    display: block;
                    padding-top: 8px; 
                 }
            }
        }
    }
    
    .copyright{
        font-size: 13px;
        letter-spacing: 0.3px;
        border-top: 1px solid;
        padding-top: 20px;
        margin-top: 50px;
    }
}