header{
    padding: 30px 52px;
    max-width: 1420px;
    margin: 0 auto;
    
    .main-nav{
        list-style: none;
        margin: 0;
        
        li{
            display: inline-block;
            
            &.active{
                
                a{
                    color: $purple;
                }
                
            }
            
            a{
                font-size: 13px;
                font-weight: bold;
                line-height: 3.69;
                letter-spacing: 0.3px;
                display: block;
                margin: 0 22px;
            }
            
        }
        
    }

}