header{
    padding: 30px 52px;
    max-width: 1420px;
    margin: 0 auto;
    
    
    &.menu-mobile{
        position: fixed;
        width: 100%;
        z-index: 99999;
        background: $white;
        top: 0;
        left: 0;
    }
    
    @include respond-to("xsmall"){
        padding: 15px;
    }
    
    .open-nav{
        font-size: 30px;
        float: right;
        padding-top: 4px;
        cursor: pointer;
        
        @include respond-to("medium"){
            display: none;
        }

    }
    
    .main-nav{
        list-style: none;
        margin: 0;
        visibility: hidden;
        opacity: 0;
        position: relative;
        
        .dropdown{
            position: absolute;
            top: 60px;
            left: 33%;
            border-radius: 31px;
            border-top-right-radius: 0;
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
            padding: 10px 5px;
            background-color: $white;
            z-index: 9999;
            
            li{
                display: block;
            }
        }
        

        &.open{
            position: fixed;
            width: 100%;
            height: 100%;
            background: $green;
            top: 0;
            left: 0;
            z-index: 10;
            padding: 0;
            visibility: visible;
            opacity: 1;
            transition: all 0.5s;
            
            li{
                display: block;
                border-bottom: 1px solid rgba(255, 255, 255, 0.33);
                
                
                &:last-of-type{
                    border: none;
                }
                
                &.logo-mobile{
                    padding: 10px 20px;
                    
                    .close-nav{
                        width: 30px;
                        height: 30px;
                        position: relative;
                        float: right;
                        display: block;
                        margin: 8px 15px;
                        cursor: pointer;
                        
                        &:before{
                            content: "";
                            position: absolute;
                            width: 30px;
                            height: 2px;
                            background: $white;
                            top: 15px;
                            left: 0;
                            transform: rotate(45deg);
                        }
                        
                        &:after{
                            content: "";
                            position: absolute;
                            width: 30px;
                            height: 2px;
                            background: $white;
                            top: 15px;
                            left: 0;
                            transform: rotate(-45deg);
                        }
                    }
                }

                &.active{
                    background-color: rgba(163, 239, 230, 0.43);

                    a{
                        color: $white;
                    }

                }
                
                &:hover{

                    a{
                        color: $white;
                    }

                }

                a{
                    font-size: 13px;
                    font-weight: bold;
                    line-height: 3.69;
                    letter-spacing: 0.3px;
                    display: block;
                    margin: 0 22px;
                    color: $white;
                }

            }
            
            .dropdown{
                position: relative;
                background: none;
                border: none;
                padding: 0;
                box-shadow: none;
                top: 0;
                left: 0;

                &:before{
                    content: "";
                    position: absolute;
                    top: -3px;
                    left: 50px;
                    border: 11px solid #50c7ba;
                    border-left: 18px solid transparent;
                    border-right: 18px solid transparent;
                    border-bottom: 0;
                    
                }
                
                li{
                    background-color: rgba(163, 239, 230, 0.43);
                    background-color: #45b1a5;
                }
            }
        }
        
        @include respond-to("medium"){
            visibility: visible;
            opacity: 1;
        }
        
        li{
            display: none;
            
            @include respond-to("medium"){    
                display: inline-block;
            }
            
             &.logo-mobile{
                 @include respond-to("medium"){
                    display: none;
                }
            }
            
            &.active{
                
                a{
                    color: $purple;
                }
                
            }
            
            &:hover{
                
                a{
                    color: $purple;
                }
                
            }
            
            a{
                font-size: 13px;
                font-weight: bold;
                line-height: 3.69;
                letter-spacing: 0.3px;
                display: block;
                margin: 0 22px;
            }
            
        }
        
    }

}