.hero{
    
    .main{
        padding: 50px 0 0;
        position: relative;
        
        @include respond-to("xsmall"){
            background-size: 560px;
            padding: 10px 0 0;
        }
        
         @include respond-to("medium"){
              min-height: 570px;
        }
        
        &:after{
            content: "";
            position: absolute;
            width: 85px;
            height: 123px;
            background: url(img/matrix-award.png) top left no-repeat;
            bottom: 25px;
            right: 105px;
            
            @include respond-to("xsmall"){
                background-size: 78px;
                width: 78px;
                height: 113px;
                right: 25px;
            }
        }
        
        .hero-img{
            margin: 0 auto;
            
            @include respond-to("xsmall"){
                width: 380px;
                margin: 0 auto;
                transform: translateY(-20px);
                margin-bottom: -20px;
            }
            
            @include respond-to("medium"){
                transform: translateY(64px);
            }
            
            @include respond-to("large"){
                transform: initial;
            }
            
        }

        .hero-title{
            font-size: 40px;
            font-weight: bold;
            line-height: 1.2;
            color: $green;
            letter-spacing: 0.9px;
            margin-bottom: 40px;
            
            @include respond-to("xsmall"){
                font-size: 34px;
                margin-bottom: 20px;
            }
        }
        .hero-text{
            font-size: 27px;
            line-height: 1.44;
            letter-spacing: 0.9px;
            
            @include respond-to("xsmall"){
                font-size: 23px;
            }

        }
        .btn{
            margin: 40px 0;
            
            @include respond-to("xsmall"){
                 margin: 10px 0;
            }
        }
    }
    
    .bottom{
        background-color: $purple;
        min-height: 5px;
        text-align: center;
        
        p{
            font-size: 31px;
            font-weight: bold;
            line-height: 1.55;
            letter-spacing: 0.7px;
            color: $white;
            padding: 25px 0;
            
            @include respond-to("xsmall"){
                font-size: 17px;
            }
        }
    }
}