.hero{
    .main{
         padding: 50px 0;

        .hero-title{
            font-size: 40px;
            font-weight: bold;
            line-height: 1.2;
            color: $green;
            letter-spacing: 0.9px;
            margin-bottom: 40px;
        }
        .hero-text{
            font-size: 27px;
            line-height: 1.44;
            letter-spacing: 0.9px;

        }
        .btn{
            margin: 40px 0;
        }
    }
    
    .bottom{
        background-color: $purple;
        min-height: 5px;
        text-align: center;
        padding: 25px 0;
        
        p{
            font-size: 31px;
            font-weight: bold;
            line-height: 1.55;
            letter-spacing: 0.7px;
            color: $white;
        }
    }
}