.page-about-us{
     .hero{
        .main{
            background: url(img/hero-about-bg.png) bottom right no-repeat;
            background-size: 196%;
            background-position-x: -14px;
            background-position-y: -55px;
            
            @include respond-to("medium"){
                background: url(img/hero-about-bg-desktop.png) bottom right no-repeat;
            }
                
            
            .hero-title{
                margin-top: 10px;
                
                @include respond-to("medium"){
                    margin-top: 60px;
                }
                
            }
            
        }
         
    }
    
    .about-desc{
        padding: 60px 0 0;
        
         @include respond-to("medium"){
            padding: 60px 0;
        }
        
        .title{
            margin-bottom: 50px;
        }
        
        p{
            font-size: 15px;
            line-height: 1.6;
            letter-spacing: 1px;
            margin-bottom: 20px;
            
            @include respond-to("medium"){
                width: 90%;
            }
        }
    }
    
    .team{
        padding: 50px 0;
        border-bottom: 1px solid #e0e0e0;
        
        .title{
            margin-bottom: 30px;
        }
        
        .section-desc{
            color: $green;
            font-weight: bold;
        }
        
        .team-members{
            margin: 78px 0 0;
            
             @include respond-to("medium"){
                margin: 130px 0 0;
            }
            
            .member{
                position: relative;
                margin-bottom: 50px;
            
                .desc{
                    border-radius: 31px;
                    border-top-right-radius: 0;
                    background-color: $white;
                    padding: 12px 25px;
                    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
                    position: absolute;
                    width: 105%;
                    bottom: -35px;
                    right: -15px;
                    min-height: 75px;
                    
                    @include respond-to("medium"){
                        padding: 12px 35px;
                        min-height: inherit;
                        width: 99%;
                        bottom: -25px;
                    }

                    .name{
                        font-size: 15px;
                        line-height: 1.3;
                        letter-spacing: 1px;
                        margin-bottom: 0;
                        
                        @include respond-to("medium"){
                            font-size: 17px;
                            line-height: 1.47;
                            letter-spacing: 2px;
                            margin-bottom: 5px;
                        }
                    }

                    .position{
                        font-size: 12px;
                        line-height: 1.3;
                        letter-spacing: 1.8px;
                        color: #94989b;
                        text-transform: uppercase;
                        margin: 0;
                        
                        @include respond-to("medium"){
                            font-size: 15px;
                            line-height: 1.67;
                        }
                        
                    }

                }
            
            }
            
        }
        
    }
    
    .why-choose{
        padding: 50px 0 80px;
        border-bottom: 1px solid #e0e0e0;
        
         @include respond-to("medium"){
             padding: 130px 0 80px;
        }
        
        .title{
            margin-bottom: 50px;
            
            &.center{
                margin: 80px 0 50px;
                
                @include respond-to("medium"){
                    margin: 80px 0;
                }
                
            }
            
        }
        
        .white-box{
            overflow: hidden; 
            margin: 0 15px;
        }
        
        .info{
            margin-bottom: 40px;
            
            &.right:last-of-type{
                margin: 0;
            }
            
            @include respond-to("medium"){
                width: 90%;
            }
            
            @include respond-to("medium"){
                &:last-of-type{
                    margin: 0;
                }
            }

        }
        
        .green-box{
            background-color: $green;
            color: $white;
            border-radius: 31px;
            border-top-right-radius: 0;
            overflow: hidden;
            padding: 45px 50px;
            margin: 0 auto;
            
            @include respond-to("medium"){
                width: 90%;
                padding: 45px 60px;
            }
            
            .plus-info{
                margin-bottom: 40px;
                
            @include respond-to("medium"){
                &:last-of-type{
                    margin: 0;
                }
            }
                
                .small-subtitle{
                    position: relative;
                    
                    &:before{
                        content: "";
                        position: absolute;
                        width: 5px;
                        height: 5px;
                        border-radius: 5px;
                        background: $white;
                        top: 8px;
                        left: -22px;
                    }
                    
                }
                
                p{
                    font-size: 17px;
                    line-height: 1.41;
                    letter-spacing: 1.9px;
                }
                
            }
            
        }
        
    }
    
}