.page-aditional-courses{
    .hero{
        .main{
            background: url(img/hero-courses-bg.png) bottom right no-repeat;
            background-size: 860px;
            
            .hero-title{
                margin-top: 20px;
            }
            
           .hero-img{
                position: absolute;
                right: -60px;
                top: -53px;
            }
            
        }
        
    }
}