.page-contact-us{
    .hero{
        .main{
            background: url(img/hero-nvq-bg.png) bottom right no-repeat;
            background-size: 780px;
            
            .hero-title{
                margin-top: 115px;
            }
            
            .hero-img{
                
                @include respond-to("medium"){
                    position: absolute;
                    top: -50px;
                    right: -97px;
                }
   
            }
            
        }
        
    }
    
}