.page-contact-us{
    .hero{
        .main{
            background: url(img/hero-nvq-bg.png) bottom right no-repeat;
            background-size: 780px;
            
             @include respond-to("medium"){
                 background: url(img/hero-nvq-bg-desktop.png) bottom right no-repeat;
                background-size: 780px;
            }
            
            .hero-title{
                margin-top: 15px;
                
                @include respond-to("medium"){
                    margin-top: 115px;
                }
            }
            
            .hero-img{
                margin-top: 50px;
                
                @include respond-to("medium"){
                    position: absolute;
                    top: -50px;
                    right: -97px;
                    margin: 0;
                    transform: translateY(13px);
                }
                
                 @include respond-to("large"){
                     transform: translateY(0);
                }
   
            }
            
        }
        
    }
    
}