.page-home {
    
    .hero{
        .main{
            background: url(img/hero-home-bg.png) bottom left no-repeat;          
            background-size: 619px;
            background-position-x: 85%;
            
            @include respond-to("medium"){
                background-size: 742px;
                background-position-y: 1px;
                background-position-x: 85%;
            }

            .hero-img{
                transform: translateY(24px);
                
                @include respond-to("small"){
                    transform: translateY(57px);
                }
                
                @include respond-to("medium"){
                    position: absolute;
                    top: -68px;
                    right: 115px;
                    transform: initial;
                }
            }
        }
    }
    
    .description{
        padding: 50px 0;
        
        @include respond-to("medium"){
            padding: 80px 0;
        }
        
        .white-box-bg{
                        
            &:before{
                background: url(../images/white-box-bg.png) no-repeat;
                bottom: -90px;
            }
            
        }
        
        .white-box{

            .item{
        
                &:nth-of-type(1){
                    background: url(img/icon-clock.png) top left no-repeat;
                    background-size: 80px;
                    background-position-y: 10px;
                }
                
                &:nth-of-type(2){
                    background: url(img/icon-calc.png) top left no-repeat;
                    background-size: 75px;
                    background-position-y: 10px;
                }
                
                &:nth-of-type(3){
                    background: url(img/icon-smile.png) top left no-repeat;
                    background-size: 70px;
                    background-position-y: 10px;
                    background-position-x: 10px;
                }
                
            }
            
        }
        
    }
    
    .training-programs{
        padding: 130px 0 0;
        transform: translateY(-100px);
        border-bottom: 1px solid #e0e0e0;
        
        @include respond-to("medium"){
             padding: 130px 0 130px;
        }
        
        
        .item{            
            @include respond-to("medium"){
                margin-top: 120px;
            }
            
            .img-container{
                position: relative;
               
                img{
                    border-radius: 30px;
                    border-top-left-radius: 0;
                    width: 100%;
                    margin-bottom: 50px;
                    
                    @include respond-to("medium"){
                        margin: 0;
                    }
                    
                    &.border-right{
                        border-top-right-radius: 0;
                    }
                }
                
                .info-box{
                    position: absolute;
                    width: 95%;
                    background: $purple;
                    color: $white;
                    border-radius: 30px;
                    border-top-right-radius: 0;
                    padding: 25px 40px;
                    font-size: 15px;
                    font-family: $bold;
                    line-height: 1.6;
                    letter-spacing: 2.2px;
                    right: -3%;
                    bottom: -35px;
                    
                    @include respond-to("medium"){
                        right: -22%;
                        bottom: 35px;
                    }
                    
                }
                
            }
            
            .program-info{
                
                .subtitle{
                    margin: 15px 0;
                }
                
                p{
                    font-size: 15px;
                    letter-spacing: 2.2px;
                    margin: 25px 0 40px;
                    
                    @include respond-to("medium"){
                        padding-right: 190px;
                    }
                }
                
                @include respond-to("medium"){
                    &.text-right{
                        p{
                            padding-right: 0;
                            padding-left: 190px;
                        }
                    }
                }
                
                .btn{
                    margin-bottom: 50px;
                    
                     @include respond-to("medium"){
                         margin: 0;
                    }
                
                }
                
            }
            
        }
        
    }
    
    .good-company{
        padding: 0;
        border-bottom: 1px solid #e0e0e0;
        margin-top: -50px;
        
        @include respond-to("medium"){
             padding: 80px 0 130px;
            margin: 0;
        }
        
        .title{
            margin-bottom: 30px;
        }
        
        .partners-images{
            margin-top: -40px;
            
            img{
                display: inline-block;
                margin: 0 15px;
                width: 125px;
                
                @include respond-to("xxsmall"){
                    width: 85px;
                }
                
                @include respond-to("medium"){
                    width: 140px;
                }
            }
            
        }
        
    }
    
    .testimonials{
        padding: 50px 0;
        
        @include respond-to("medium"){
            padding: 140px 0 80px;
        }
        
        .testimonials-slider{
            .slide{
                overflow: hidden;
                margin-bottom: 20px;
                
                @include respond-to("xsmall"){
                    width: 350px !important;
                }
                
                @include respond-to("xxsmall"){
                    width: 245px !important;
                }
                
                .quote{
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: 0.6px;
                    position: relative;
                    height: 185px;
                    padding: 35px 45px;
                    
                    @include respond-to("xsmall"){
                        height: 300px;
                
                    }
                    
                    @include respond-to("xxsmall"){
                        font-size: 14px;
                        padding: 25px 31px;
                    }
                    
                    &:before{
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 205px;
                        top: 0;
                        left: 0;
                        background: url(img/testimonial-bg.png) top left no-repeat;
                        z-index: -1;
                        background-size: 100%; 
                    }
                    
                    @include respond-to("xsmall"){
                        &:before{
                            background: url(img/testimonial-bg-mobile.png) top left no-repeat;
                            background-size: 100%;
                            height: 320px;
                        }
                    }
                }
                
                .author{
                    margin-top: 25px;
                    font-size: 18px;
                    font-family: $bold;
                    line-height: 1.33;
                    letter-spacing: 0.7px;
                    text-align: center;
                }
                
            }
            
            .flex-control-nav{
                a{
                    background: #d5d5d5;
                    box-shadow: none;
                        
                    &.flex-active{
                        background: $purple;
                    }
                    
                }
                
            }
            
        }
        
    }
    
        
    .lets-talk{
        padding-bottom: 50px;
    }
    
    .blog-posts{
        padding: 50px 0;
        
         @include respond-to("medium"){
            padding: 80px 0 130px;
        }
        
        
        .section-desc{
            margin: 30px 0 40px;
        }
        
        .posts{
            &:before{
                content: "";
                position: absolute;
                width: 76%;
                height: 99%;
                background: url(../images/white-box-bg.png) bottom right;
                bottom: -29px;
                right: 0;
                
                @include respond-to("medium"){
                    right: -25px;
                }
                
            }

            .box{
                width: 100%;
                overflow: hidden;
                margin-top: 50px;
                border-radius: 30px;
                border-top-right-radius: 0;
                background-color: $white;
                box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
                position: relative;
                
                 @include respond-to("medium"){
                    width: 255px;
                    margin-left: 30px;
                    margin-top: 0;
                    float: right;
                }
                
                .inner-text{
                    padding: 20px 30px;
                    min-height: 160px;
                    
                    .heading{
                        font-size: 14px;
                        font-weight: bold;
                        line-height: 1.57;
                        letter-spacing: 2px;
                        color: $green;
                        margin-bottom: 20px;
                    }
                    
                    .date{
                        font-size: 12px;
                        line-height: 2;
                        letter-spacing: 1.8px;
                        color: #6b7175;
                        
                        i{
                            font-size: 17px;
                            vertical-align: text-top;
                            padding-right: 5px;
                            color: #8d9295;
                        }
                    }
                }
                
                .btn{
                    width: 100%;
                    border-radius: 0;
                    font-size: 14px;
                    letter-spacing: 2px;
                    color: $white;
                    padding: 12px 0;
                }
                
            }
            
        }
        
    }
    
}