.page-training-programs-inner{
    .hero{
        .main{
            background: url(img/hero-nvq-bg.png) bottom right no-repeat;
            background-size: 1002px;
            background-position-x: -85px;
            background-position-y: -23px;
            
             @include respond-to("medium"){
                 background: url(img/hero-nvq-bg-desktop.png) bottom right no-repeat;
                background-size: 780px;
            }
            
            .hero-title{
                margin-top: 20px;
            }
            
            .hero-img{
                margin-top: 50px;
                
                @include respond-to("medium"){
                    margin: 0;
                    transform: translateY(7px);
                }
                
                @include respond-to("large"){
                    transform: translateY(0);
                }
            }
            
            .hero-apprenticeship{
                
                @include respond-to("medium"){
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    transform: translateY(0);
                }
                
            }
            
        }
        
    }
    
    .inner-menu{
        padding: 30px 0;
        border-bottom: 1px solid #e0e0e0;
        display: none;
        
        @include respond-to("medium"){
            display: block;
        }
        
        .menu{
            margin: 0;
            padding: 0;
            
            li{
                display: inline-block;
                padding: 0 5px;
                border-left: 1px solid;
                
                 @include respond-to("large"){
                     padding: 0 13px;
                }
                
                &:first-of-type{
                    border: none;
                    padding-left: 0;
                }
                
                a{
                    display: block;
                    font-size: 12px;
                    font-weight: bold;
                    line-height: 3.69;
                    letter-spacing: 0.2px;
                    text-transform: uppercase;
                    
                    @include respond-to("large"){
                        font-size: 13px;
                        letter-spacing: 0.3px;
                    }
                }
                
            }
            
        }
        
    }
    
    .partners{
        border: none;
        padding: 50px 0 0;
    }
    
    .green-box{
        width: 100%;
        padding: 30px 25px;
        background-color: $green;
        color: $white;
        text-align: center;
        font-size: 17px;
        font-weight: bold;
        line-height: 1.41;
        letter-spacing: 2.5px;
        border-radius: 30px;
        border-top-right-radius: 0;
        
        @include respond-to("medium"){
            padding: 40px 115px;
        }
        
    }

    .purple-box{
        @extend .green-box;
        background-color: $purple;
    }
    
    .whos-for{
        padding: 50px 0;
        
        .title{
            margin-bottom: 50px;
        }
        
    }
    
    .org-benefits{
        padding: 50px 0;
        border-bottom: 1px solid #e0e0e0;
        
        @include respond-to("medium"){
            padding: 80px 0 285px;
        }
        
        .img-container{
            margin-bottom: 20px;
            
            @include respond-to("medium"){
                margin: 0;
            }
            
            &:before{
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background: url(../images/white-box-bg-2.png);
                left: -10px;
                top: -30px;
            }
        }
        
        .info-absolute{
            border-radius: 31px;
            border-top-right-radius: 0;
            background-color: $white;
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
            padding: 20px 5px;
            
            @include respond-to("medium"){
                position: absolute;
                bottom: -160px;
                padding: 35px 40px;
            }
            
            ul{
                margin: 0;
                
                li{
                    font-size: 17px;
                    font-weight: bold;
                    line-height: 2.06;
                    letter-spacing: 2.5px;
                    color: $purple;
                    padding-left: 15px;
                }
                
            }
            
        }
        
    }
    
    .how-work{
        padding: 50px 0;
        border-bottom: 1px solid #e0e0e0;
        
        @include respond-to("medium"){
            padding: 80px 0;
        }
        
        .title{
            margin-bottom: 50px;
        }
        
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            
            li{
                font-size: 15px;
                line-height: 1.6;
                letter-spacing: 1px;
                position: relative;
                padding-left: 20px;
                margin-bottom: 20px;
                
                @include respond-to("medium"){
                    width: 88%;
                }
                
                &:before{
                    content: "";
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    border-radius: 5px;
                    background: $purple;
                    left: 0;
                    top: 9px;
                }
                
            }
            
        }
        
    }

    
    .how-long{
        padding: 50px 0;
        
        @include respond-to("medium"){
            padding: 130px 0 80px;
        }
        
        .title{
            margin-bottom: 50px;
            
            @include respond-to("medium"){
                margin-bottom: 30px;
            }
        }
        
    }
    
    .how-much{
        padding: 30px 0 70px;
        border-bottom: 1px solid #e0e0e0;
        
        @include respond-to("medium"){
            padding: 80px 0 185px;
        }
        
        
        .title{
            margin-bottom: 30px;
        }
        
        .white-box{

            .item{
                padding: 5px 0;
                padding-left: 140px;

                &:nth-of-type(1){
                    background: url(img/icon-calc.png) top left no-repeat;
                    background-size: 75px;
                    background-position-x: 10px;
                }

                &:nth-of-type(2){
                    background: url(img/icon-learn.png) top left no-repeat;
                    background-position-x: 10px;
                }

                &:nth-of-type(3){
                    background: url(img/icon-people.png) top left no-repeat;
                    background-position-x: 16px;
                }

            }  
        }
        
    }
    
    .comparison{
        padding: 50px 0;
        border-bottom: 1px solid #e0e0e0;
        
        @include respond-to("medium"){
            padding: 80px 0;
        }
        
        .title{
            margin-bottom: 130px;
        }
        
        .table-container{
            
            @include respond-to("xxsmall"){
                margin-right: -30px;
                margin-left: -30px;
                overflow-x: scroll;
            }

            &:before{
                display: none;
            }
            
            
            &:after{
                content: "";
                width: 274px;
                height: 117px;
                position: absolute;
                right: -16px;
                top: -109px;
                background: url(img/new-and-exclusive-icon.png) no-repeat;

            }

            table{
                
                @include respond-to("xsmall"){
                    font-size: 11px;
                }

                thead{

                    th{
                        padding: 20px 0 85px;
                        width: 30%;
                        
                        @include respond-to("xsmall"){
                            padding-bottom: 20px;
                        }
                        
                        &:first-of-type{
                            text-align: left;
                            padding-left: 90px;
                            padding-top: 20px;
                            width: 38%;
                            
                            @include respond-to("xsmall"){
                                padding-left: 30px;
                                width: 25%;
                            }
                            
                        }
                        
                        &:nth-last-of-type(2){
                            background: url(img/icono-traditional.png) bottom center no-repeat;
                            background-position-y: 88px;
                            background-position-x: 50%;
                        }

                        &:last-of-type{
                            background: url(img/icono-nvq.png) bottom center no-repeat;
                            background-position-y: 90px;
                            background-position-x: 50%;
                        }

                    }

                }

                tbody{
                    
                    tr{

                        td{
                            background: $white;
                            
                            @include respond-to("xsmall"){
                                padding-left: 10px;
                                padding-right: 10px;
                            }
                            
                            &:first-of-type{
                                text-align: left;
                                padding-left: 60px;
                                vertical-align: top;
                                
                                @include respond-to("xsmall"){
                                    padding-left: 10px;
                                }
                                
                            }
                            
                            .fa-check{
                                color: $green;
                                font-size: 35px;
                            }
                            
                            .fa-times{
                                color: #d0021b;
                                font-size: 35px;
                            }
                            
                            &.required{
                                color: #d0021b;
                                text-transform: uppercase; 
                                letter-spacing: 1px;
                            }
                            
                            &.green-text{
                                color: $green;
                                text-transform: uppercase; 
                                letter-spacing: 1px;
                            }
                            
                            &.left{
                                letter-spacing: 1px;
                            }

                        }

                    }

                }

            }   

        }
        
        &.nvq{
            
            .title{
                margin-bottom: 25px;
            }
            
            p{
                font-size: 17px;
                line-height: 1.41;
                letter-spacing: 1.2px;
            }
            
            .table-container{
                margin: 80px 0 30px;
            }
            
        }
        
    }
    
    .questions{
        padding: 50px 0;
        border-bottom: 1px solid #e0e0e0;
        
        @include respond-to("medium"){
            padding: 80px 0 50px;
        }
        
        #accordion{
            
            .card{
                width: 100%;
                margin-bottom: 20px;
                
                .card-header{
                    background-color: $green;
                    border-radius: 31px;
                    border-top-right-radius: 0;
                    position: relative;
                    padding-right: 65px;
                    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
                    z-index: 1;
                    
                    .card-lnk {
                        display: block;
                        color: $white;
                        text-transform: uppercase;
                        font-size: 15px;
                        font-weight: bold;
                        line-height: 1.6;
                        letter-spacing: 2.2px;
                        padding: 20px 30px;
                    }
                    
                    .faq-btn{
                        position: absolute;
                        top: calc(50% - 30px);
                        right: 20px;
                        font-size: 35px;
                        
                        .fa-angle-up{
                            display: none;
                        }
                    }
                    
                }
                
                .card-body{
                    background: $white;
                    border-bottom-left-radius: 31px;
                    border-bottom-right-radius: 31px;
                    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
                    padding: 35px;
                    padding-top: 60px;
                    transform: translateY(-35px);
                    margin-bottom: -30px;
                    
                    p{
                        font-size: 14px;
                        line-height: 1.6;
                        letter-spacing: 2.2px;
                    }
                    
                }
                
            }
            
        }
        
    }
    
    .lets-talk{
        .info-bottom{
            bottom: -440px;
            
            p{
                margin-bottom: 25px;
            }
            
        } 
        
    } 
    
    /* NVQ LANDING */
    
    .nvq-description{
        padding: 50px 0;
        
        @include respond-to("medium"){
            padding: 80px 0;
        }
        
        .subtitle{
            margin-bottom: 50px;
        }
        
        p{
            font-size: 17px;
            line-height: 1.41;
            letter-spacing: 1.2px;
            width: 86%;
            margin-bottom: 25px;
            
            &.right{
                width: 95%;
            }
            
        }
        
        .green-box{
            margin-top: 20px;
            
            @include respond-to("medium"){
                margin-top: 80px;
            }
        }
        
    }
    
    .nvq-different{
        padding: 10px 0 50px;
        
        @include respond-to("medium"){
             padding: 80px 0 50px;
        }
        
        .title{
            margin-bottom: 30px;
        }
        
        .white-box{

            .item{
                padding: 5px 0;
                padding-left: 140px;

                &:nth-of-type(1){
                    background: url(img/icon-calc.png) top left no-repeat;
                    background-size: 75px;
                    background-position-x: 10px;
                }

                &:nth-of-type(2){
                    background: url(img/icon-learn.png) top left no-repeat;
                    background-position-x: 14px;
                    background-position-y: -3px;
                    background-size: 72px;
                }

                &:nth-of-type(3){
                    background: url(img/icon-people.png) top left no-repeat;
                    background-position-x: 16px;
                }

            }  
        }
        
    }
    
    .nvq-table{
        padding: 140px 0 0;
        transform: translateY(-100px);
        
        @include respond-to("medium"){
            padding: 290px 0 80px;
        }
        
        .table-container{
            &:before{
                right: 35px;
            }
            
            table{
                @include respond-to("xsmall"){
                    font-size: 12px;
                }
            }
        }
    }
    
    .nvq-path{
        padding: 0 0 50px;
        border-bottom: 1px solid #e0e0e0;
        
        @include respond-to("medium"){
            padding: 0 0 130px;
        }
        
        .title{
            @include respond-to("medium"){
                padding: 0 85px;
                margin-bottom: 80px;
            }
        }
        
        .white-box{
            overflow: hidden;
            
            @include respond-to("xsmall"){
                padding: 35px 0px;
            }
            
            .purple{
                color: $purple;
                
                li{
                    padding: 0 15px;
                    margin-bottom: 20px;
                }
                
            }
            
        }
        
    }
    
    .nvq-offer{
        padding: 50px 0 70px;
        border-bottom: 1px solid #e0e0e0;
        
        @include respond-to("medium"){
            padding: 80px 0 130px;
        }
        
        .title{
            padding-left: 20px;
        }
        
        .white-box{

            .item{
                padding: 5px 0;
                padding-left: 140px;

                &:nth-of-type(1){
                    background: url(img/icon-calc.png) top left no-repeat;
                    background-size: 75px;
                    background-position-x: 10px;
                }

                &:nth-of-type(2){
                    background: url(img/icon-learn.png) top left no-repeat;
                    background-position-x: 10px;
                }
                
            }
            
        }
        
    }
    
    .nvq-quality{
        
        @include respond-to("medium"){
            padding: 80px 0;
        }
        
        .title{
            margin-bottom: 60px;
        }
                
        p{
            font-size: 15px;
            line-height: 1.6;
            letter-spacing: 1px;
            padding-left: 50px;
            margin-bottom: 25px;
            
            &.section-title{
                font-size: 17px;
                font-weight: bold;
                line-height: 1.41;
                letter-spacing: 1.6px;
                color: $purple;
            }
        }
        
        .list{
            
            p{
                position: relative;
                
                &:before{
                    content: "";
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    border-radius: 10px;
                    background: $purple;
                    left: 22px;
                    top: 9px;
                }
            }
        }
        
        .white-box-bg{
            position: relative;
            margin-bottom: 83px;
        }
    
        
        .white-box{
            
            p{
                padding-left: 0;
                font-size: 17px;
                line-height: 1.41;
                letter-spacing: 2px;
                margin-bottom: 0;
            }
            
        }
        
        .center{
            text-align: center;
            margin-top: 30px;
            
            @include respond-to("medium"){
                margin-top: 50px;
            }
        }
        
    }
    
    .nvq-features{
        padding: 60px 0 50px;
        border-bottom: 1px solid #e0e0e0;
        
        @include respond-to("medium"){
            padding: 60px 0;
        }
        
        .subtitle{
            margin-bottom: 50px;
        }
        
        p{
            font-size: 17px;
            line-height: 1.41;
            letter-spacing: 1.2px;
            margin-bottom: 30px;     
            
            @include respond-to("medium"){
                padding-right: 80px;
            }
            
        }
        
    }
    
}
