.page-training-programs{
    .hero{
        .main{
            background: url(img/hero-training-bg.png) bottom right no-repeat;
            background-size: 780px;
            
            @include respond-to("medium"){
                background: url(img/hero-training-bg-desktop.png) bottom right no-repeat;
                background-size: 780px;
            }
            
            .hero-title{
                margin-top: 20px;
            }
            
           .hero-img{
                margin-top: 50px;
               
                @include respond-to("medium"){
                    transform: initial;
                    margin-top: 62px;
               }
               
                @include respond-to("large"){
                    position: absolute;
                    right: -155px;
                    top: -64px;
                    margin: 0;
                }
               
            }
            
        }
        
    }
    
    .option{
        padding: 50px 0;
        border-bottom: 1px solid #e0e0e0;
        
         @include respond-to("medium"){ 
             padding: 80px 0 130px;
        }
        
        .title{
            margin-bottom: 50px;
            
            @include respond-to("medium"){ 
                 &.center{
                    margin-bottom: 70px;
                }
            }
            
        }
        
        .white-box{
            margin-top: 50px;
                
            @include respond-to("medium"){ 
                margin: 0;
            }
        }
        
        .subtitle{
            margin: 60px 0 50px;
            
            @include respond-to("medium"){ 
                 margin: 60px 0;
            }
            
        }
        
        .benefit{
            margin-bottom: 50px;

            @include respond-to("medium"){ 
                width: 90%;
            }
                
            p{
                font-size: 17px;
                line-height: 1.41;
                letter-spacing: 1.2px;
                
                 @include respond-to("medium"){ 
                    padding-right: 20px;
                }
                
            }
            
            @include respond-to("medium"){ 
                &:last-of-type{
                    margin-bottom: 0;
                }
            }
            
        }
        
        .offer{
            margin-top: -40px;
            
            @include respond-to("medium"){ 
                margin-top: 100px;
                
                .subtitle{
                    margin-top: 0;
                    margin-bottom: 30px;
                }
                
                .section-desc{
                    padding-right: 0;
                    padding-left: 80px;
                    margin-bottom: 30px;
                }
                
            }
        
            .white-box{
               
                .item{
                    padding: 5px 0;
                    padding-left: 140px;

                    &:nth-of-type(1){
                        background: url(img/icon-calc.png) top left no-repeat;
                        background-size: 75px;
                        background-position-x: 10px;
                    }

                    &:nth-of-type(2){
                        background: url(img/icon-learn.png) top left no-repeat;
                        background-position-x: 14px;
                        background-position-y: -3px;
                        background-size: 72px;
                    }

                    &:nth-of-type(3){
                        background: url(img/icon-people.png) top left no-repeat;
                        background-position-x: 16px;
                    }

                }  
            }
        }
    }
    
    .challenges{
        padding: 50px 0;
        border-bottom: 1px solid #e0e0e0;
        
        @include respond-to("medium"){ 
            padding: 80px 0;
        }
        
        .title{
            margin-bottom: 50px;
            
            @include respond-to("medium"){ 
                margin-bottom: 80px;
            }
            
        }
        
        .challenge{
            margin-bottom: 30px;

            @include respond-to("medium"){ 
                width: 90%;
            }
            
            p{
                font-size: 17px;
                line-height: 1.41;
                letter-spacing: 1.2px;
                
                @include respond-to("medium"){ 
                    padding-right: 40px;
                }
                
            }
            
        }
        
        .btn{
            margin-top: 45px;
            
            &.mobile{
                @include respond-to("medium"){ 
                    display: none;
                }
            }
            
            &.desktop{
                display: none;
                
                @include respond-to("medium"){ 
                    display: inline-block;
                }
            }
        }
    }
    
}
