.page-training-programs{
    .hero{
        .hero-title{
            margin-top: 20px;
        }
    }
    
    .option{
        padding: 80px 0 130px;
        border-bottom: 1px solid #e0e0e0;
        
        .title{
            margin-bottom: 50px;
            
            &.center{
                margin-bottom: 70px;
            }
        }
        .subtitle{
            margin: 60px 0;
        }
        
        .benefit{
            margin-bottom: 50px;
            width: 90%;
            
            p{
                font-size: 17px;
                line-height: 1.41;
                letter-spacing: 1.2px;
                padding-right: 20px;
            }
            
            &:last-of-type{
                margin-bottom: 0;
            }
            
        }
        
        .offer{
            margin-top: 100px;
            
            .subtitle{
                margin-top: 0;
                margin-bottom: 30px;
            }
            
            .section-desc{
                padding-right: 0;
                padding-left: 80px;
                margin-bottom: 30px;
            }
            
        }
        
    }
    
    .challenges{
        padding: 80px 0;
        border-bottom: 1px solid #e0e0e0;
        
        .title{
            margin-bottom: 80px;
        }
        
        .challenge{
            margin-bottom: 30px;
            width: 90%;
            
            p{
                font-size: 17px;
                line-height: 1.41;
                letter-spacing: 1.2px;
                padding-right: 40px;
            }
            
        }
        
        .btn{
            margin-top: 45px;
        }
    }
    
}
