.bg-1{
    background: url(img/fill-1.png) bottom right no-repeat;
}

.bg-2{
    background: url(img/fill-2.png) bottom left no-repeat;
}

.bg-3{
    background: url(img/fill-3.png) bottom right no-repeat;
}

.bg-4{
    background: url(img/fill-4.png) bottom left no-repeat;
}