.bg-1{
    background: url(img/fill-1.png) bottom right no-repeat;
}

.bg-2{
    background: url(img/fill-2.png) bottom left no-repeat;
    
    &.small{
        background: url(img/fill-2-small.png) bottom left no-repeat;
    }
}

.bg-3{
    background: url(img/fill-3.png) bottom right no-repeat;
}

.bg-4{
    background: url(img/fill-4.png) bottom left no-repeat;
}

.bg-5{
    background: url(img/fill-5.png) bottom left no-repeat;
}

.bg-6{
    background: url(img/fill-6.png) bottom right no-repeat;
}

.bg-7{
    background: url(img/fill-7.png) bottom left no-repeat;
}

.bg-8{
    background: url(img/fill-8.png) top left no-repeat;
}

.bg-9{
    background: url(img/fill-9.png) top right no-repeat;
}

.bg-10{
    background: url(img/fill-10.png) top left no-repeat;
}

.bg-11{
    background: url(img/fill-11.png) bottom right no-repeat;
}

.bg-12{
    background: url(img/fill-12.png) top left no-repeat;
    background-position-y: 60px; 
}

.bg-13{
    background: url(img/fill-13.png) top left no-repeat;
}

.bg-14{
    background: url(img/fill-14.png) bottom right no-repeat;
}

.bg-15{
    background: url(img/fill-15.png) left no-repeat;
}